<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
.work{
 text-align: center;
}
</style>
</head>

<body>
<diV class="work">
 <img src="/static/img/Todolist.jpg" style="text-align: left;"> 
 <a href="{%url 'main' %}" class="btn btn-md btn-primary">HOME</a>
 </div>
 <div>
    
 </div>
    <table class="table" style="background-color: beige;">
        <th>해야할 일</th>
        {% for todo in todos %}
        <tr>
            {% if todo.is_done == False %}
            <th style="width:20%; text-align: center;">
                {{ todo.task }}
            </th>
            <th style="text-align: left;" class="list_id">
                <b>{{ todo.is_done }}</b>
            </th>
            <td>
                <h4>START !!</h4> 
                {{ todo.Todo_time}}
            </td>
            <td style="width:30%;text-align: right;">
                <a class="btn btn-sm btn-danger" href="{% url 'reload' pk=todo.pk %}">완료</a>
                <a class ="btn btn-sm btn-primary" href="{% url 'todo_del' pk=todo.pk %}">삭제</a>
            </td>
        </tr>
        {% endif %} 
        {% endfor %}
    </table>
    <table class="table" style="background-color: bisque;"> 
        <tr>
            <th>완료 목록</th>
        </tr>
        {% for todo in todos %}
        {% if todo.is_done == True %}
        <tr>
            <th style="width:20%; text-align: center;">
                {{ todo.task }}
            </th>
            <th style="text-align: left;" class="list_id" style="background-color: blue;">
                <b>{{ todo.is_done }}</b>
            </th>
            <td>
                <h4>Complete!!</h4>
                {{ todo.Todo_time }}</td>
            <td style="text-align: right;">
                <a class ="btn btn-sm btn-primary" href="{% url 'back' pk=todo.pk %}">back(다시 하기)</a>
                <a class="btn btn-sm btn-danger" href="{% url 'todo_del' pk=todo.pk %}">삭제</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</body>
